{% extends 'home/base.html' %}


{% block nav %}
{% if user.is_authenticated %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pack-create-view' %}">CreatePack</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" href="{% url 'favourites-view' %}">Favourites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'bookmarks-view' %}">Bookmarks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'category-view' %}">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'notifs-view' %}">Notifications
            <span class="badge badge-secondary">{{user.to_user_set.count}}</span></a>
    </li>
</ul>
<div class="justify-content-end mr-2">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile-view' user.pk %}?tab=packs">
                <span><img src="{{user.profile.img.url}}" class="avatar" style="width:25px;height:25px;"></span>
                <span>{{user}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_warn' %}">Logout</a>
        </li>
    </ul>
</div>
{% else %}
<ul class="navbar-nav mr-auto"></ul>
<div class="justify-content-end mr-2">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="mt-3">
<form method="post">
    {% csrf_token %}
    <div class="border-bottom mb-3">
    <h2>Are you sure you want to delete pack "{{ pack.title }}"</h2>
    </div>
    <a href="{% url 'detail-view' pack.pk %}" style="text-decoration:none;">
        <button class="btn btn-secondary mr-2" type="button">Cancel</button>
    </a>
    <button class="btn btn-danger" type="submit">Confirm</button>
</form>
</div>

{% endblock %}